<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Maritime Services">
    <meta name="keywords" content="Maritime Services">
    <title>Maritime Services</title>
    <link rel="shortcut icon" href="https://webbetalink.com/beta/klemac/verification/assets/images/favicon.webp" type="image/x-icon">
    <link rel="stylesheet" href="/css/plugins.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style1.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 min-h-screen">
